{% extends "master.html" %}

{% block menu %}

<nav style="background-color: #f0f0f0; padding: 10px 20px; text-align: center; margin: 0; margin-bottom: 20px;">
    {% if request.session.realname %}
        <a href="http://127.0.0.1:8000/secondapp/contact/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Contact</a>
        <a href="http://127.0.0.1:8000/secondapp/home/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Home</a>
        <a href="http://127.0.0.1:8000/secondapp/employees/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Employees</a>
        <a href="http://127.0.0.1:8000/secondapp/newemployee/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Add Employee</a>
        <a href="http://127.0.0.1:8000/secondapp/signup/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Sign Up</a>
        <a href="http://127.0.0.1:8000/secondapp/login/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Sign In</a>
        <a href="http://127.0.0.1:8000/secondapp/logout/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Log Out</a>
    {% else %}
        <a href="http://127.0.0.1:8000/secondapp/login/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Sign In</a>
        <a href="http://127.0.0.1:8000/secondapp/signup/" style="text-decoration: none; padding: 10px; margin: 0 10px; color: #fff; font-weight: bold; background-color: #b83c3c; border-radius: 4px; transition: background-color 0.3s ease;">Sign Up</a>
    {% endif %}
</nav>

{% endblock %}

